* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
body {
  margin: 0;
  padding: 0;
}

#landingDDN {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  #section2 {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: #E9C8FF;
    p {
      &.alert-text {
        padding: 5px 10px;
        background: white;
        color: #FF3598;
        border: 2px solid #FF3598;
        transition: all .3s ease;
        opacity: 0;
        height: 0;
        transform: translateY(30px);
        border-radius: 8px;
        margin: 0;
        display: flex;
        align-items: center;
        &.active {
          
          height: unset;
          opacity: 1;
          transform: translateY(0px);
          margin: 20px 0;
        }
        img {
          width: 100%;
          max-width: 100px;
          margin-left: 20px;
        }
      }
    }
    .cabecerasection {
      margin-top: 20px;
      width: 100%;
      img {
        width: 100%;
      }
    }
    #toprow {
      width:100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 25px;
      margin-top: 30px;
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 20%;
        border-radius: 8px;
        padding: 20px 0;
        cursor: pointer;
        border: 2px solid transparent;
        position: relative;
        transition: all .5s ease;
        &:hover {
          border: 2px solid white;
        }
        @media(max-width: 700px){
          padding: 5px;
        }
        &.active {
          border: 2px solid white;
        }
        &:not(:last-child){
          margin-right: 20px;
        }
          img {
            width: 70%;
            margin-bottom: 10px;
            @media(max-width: 700px){
              width: 100%;
            }
          }
        
      }
    }
    #botrow {
      width:100%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 25px;
      margin-top: 30px;
      margin-bottom: 10px;
      .item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 20%;
        border-radius: 8px;
        padding: 20px 0;
        cursor: pointer;
        border: 2px solid transparent;
        background: #dfb0ff;
        transition: all .5s ease;
        &:hover {
          border: 2px solid white;
        }
        @media(max-width: 700px){
          padding: 5px;
        }
        &.active {
          border: 2px solid white;
        }
        &:not(:last-child){
          margin-right: 20px;
        }

          img {
            width: 70%;
            margin-bottom: 10px;
            @media(max-width: 700px){
              width: 100%;
            }
          }
      }
    }
    .custom-radio-checkbox {
      display: inline-flex;
      align-items: center;
      cursor: pointer;
      font-family: arial;
  }
  
  /* Modificador para dar la imagen de checkbox */
  .custom-radio-checkbox__show--checkbox {
      background-image: url(../img/buscador/check-inactive.png);
  }
  
  /* Oculta input original */
  .custom-radio-checkbox > input {
      display: none;
  }
  
  /* Radio personalizado usando <span> */
  .custom-radio-checkbox > .custom-radio-checkbox__show {
      display: inline-block;
      width: 25px;
      height: 25px;
      background-size: cover;
      transition: all .3s ease;
      @media(max-width: 700px){
        width: 10px;
        height: 10px;
        margin-top: 0px;
      }
  }
  
  /* Cambia el checkbox personalizado cuando es pulsado */
  .custom-radio-checkbox > input:checked + .custom-radio-checkbox__show--checkbox {
    background-image: url(../img/buscador/check.png);

  }
  .buttonselector {
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: none;
    background: transparent;
    transform: scale(1);
    transition: all .3s ease;
    margin: 20px 0;
    &:hover {
      transform: scale(1.01);
    }
    @media(max-width: 700px){
      width: 45%;
    }
    img {
      width: 100%;
    }
  }
  }
  #section3 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #carousel1 {
      width: 80%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }
  #section4 {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #carousel2 {
      width: 80%;
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
    }
  }

  .nav-btn.prev-slide {
    position: absolute;
    top: 33.5%;
    left: -30px;
    @media(max-width:700px){
      left: -20px;
      top: 30%;
    }
    &.large {
      top:40%;
      left:-50px;
      @media(max-width:700px){
        left:-20px
      }
    }
  }
  .nav-btn.next-slide {
    position: absolute;
    top: 33.5%;
    right: -30px;
    @media(max-width:700px){
      right: -20px;
      top: 30%;
    }
    &.large {
      top:40%;
      right:-20px;
      @media(max-width:700px){
        right:-10px
      }
    }
  }
  .nav-btn.prev-slide.menu {
    left: 0px;
    top:10px;
    img {
      width: 40px;
    }
  }
  .nav-btn.next-slide.menu {
    right: 0px;
    top:10px;
    img {
      width: 40px;
    }
  }

}